---
import SectionContainer from "../components/SectionContainer.astro";
import LinkItem from "./LinkItem.astro";

const sections = [
  {
    links: [
      {
        href: "https://github.com/ByManGe1?tab=repositories",
        label: "Mis GitHub Repos",
        description:
          "¡Explora mis contribuciones y proyectos para ver cómo me esfuerzo por mejorar constantemente!",
      },
    ],
  },
  {
    title: "Proyectos y Mas",
    sectionIcon: `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-terminal"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 7l5 5l-5 5"></path><path d="M12 19l7 0"></path></svg>`,
    links: [
      {
        href: "https://github.com/ByManGe1/Terminal",
        label: "Terminal",
        description:
          "Terminal desarrollada en C que simula una terminal de comandos de Linux. Esta terminal es capaz de ejecutar comandos básicos como ls, cd, pwd, mkdir, rmdir, rm, touch, cat, cp, mv, chmod, chown, y más.",
      },
      {
        href: "https://github.com/ByManGe1/Discord-Clone",
        label: "Discord Login Web",
        description:
          "¡Este proyecto es un clon de la página de inicio de sesión de Discord! Está desarrollado con HTML, CSS y JavaScript, y es una excelente manera de aprender cómo se construyen las páginas web modernas.",
      },
      {
        href: "https://github.com/ByManGe1/Oauth-Discord/blob/main/index.js",
        label: "Oauth-Discord",
        description:
          "¡Este es un proyecto de Oauth2 con Discord! Un Bot de Discord que se conecta a una aplicación web para permitir a los usuarios iniciar sesión con sus Servidores de Discord.",
      },
    ],
  },
  {
    title: "Lenguajes de Programación",
    sectionIcon: `<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-device-ipad-horizontal-code"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M11 20h-6a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7" /><path d="M9 17h2.5" /><path d="M20 21l2 -2l-2 -2" /><path d="M17 17l-2 2l2 2" /></svg>`,
    links: [
      {
        href: "https://www.udemy.com/course/scala-desde-cero/?couponCode=MXABCARCTR24NEW",
        label: "Scala",
        description:
          "¡Este es un buen lenguaje de programación para bases de datos! Scala se destaca por su capacidad para manejar grandes volúmenes de datos y su integración con herramientas como Apache Spark, haciéndolo ideal para aplicaciones que requieren procesamiento eficiente y escalable.",
      },
      {
        href: "https://www.udemy.com/course/curso-de-java-nivel-basico/?kw=Java+-+nivel+ba&src=sac",
        label: "Java Principiantes",
        description:
          "¡Java es un lenguaje de programación popular y versátil! Es un lenguaje de programación de propósito general que se utiliza en una amplia variedad de aplicaciones, desde aplicaciones de escritorio hasta aplicaciones web y móviles.",
      },
    ],
  },
];
---
<SectionContainer>
  {sections.map(section => (
    <div class="mb-2">
      <h2 class="text-2xl font-bold mb-2 text-white ">
        <div class="inline-block mr-2" set:html={section.sectionIcon}></div>
        {section.title}
      </h2>
      <nav class="grid gap-4">
        {section.links.map(link => (
          <LinkItem {...link} />
        ))}
      </nav>
    </div>
  ))}
</SectionContainer>

